<h2 class="mb-4 text-center">Productos</h2>
<app-total-carrito-component></app-total-carrito-component>
<div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4">
    <div class="col" *ngFor="let product of products()">
        <div class="card h-100">
            <img [src]="product.imagen_url" class="card-img-top" alt="Producto 1">
            <div class="card-body">
                <h5 class="card-title">{{product.nombre}}</h5>
                <p class="card-text">{{product.descripcion}}</p>
                <p class="card-text fw-bold">{{ product.precio | currency:'PEN' }}</p>
                <button *ngIf="!product.flag_agregado_carrito" type="button" class="btn btn-primary w-100"
                    (click)="addToCart(product)">Agregar al carrito</button>
                <button *ngIf="product.flag_agregado_carrito" type="button" class="btn btn-danger w-100"
                    (click)="deleteFromCart(product)">Quitar del carrito</button>
                <div class="input-group mb-3" *ngIf="product.flag_agregado_carrito">
                    <span class="input-group-text" id="basic-addon1">#</span>
                    <input type="number" class="form-control" [(ngModel)]="product.cantidad"
                        (ngModelChange)="updateProductFromCart(product)">
                </div>
            </div>
        </div>
    </div>
</div>